* {
	font-family: verdana, arial, sans;
	font-size: small;
	color: #555;
	margin: 0px;
	padding: 0px;
}
html {
	background-image: url("misc/bg.jpg");
	background-position: top center;
	background-repeat: no-repeat;
}
html, body {
	margin: 0px;
	padding: 0px;
}
h1 {
	padding: 50px 0px .5em 0px;
	font-family: arial, sans;
	font-size: 24px;
	letter-spacing: 2px;
	font-weight: lighter;
	text-align: center;
}
h2 {
	font-size: x-large;
	font-weight: lighter;
	padding: 0em 0px .75em 0px;
	text-align: center;
}
h3 {
	font-size: large;
	font-weight: lighter;
	padding: 0em 0px .75em 0px;
}
p,ul {
	padding: 0em 0px 1em 0px;
	font-size: small;
	color: #222;
}
ul {
	margin-left: 16px;
}
.left { text-align: left; }
.centered { text-align: center; margin-left: auto; margin-right: auto; }
.right { text-align: right; }
.clear { clear: both; height: 0px; margin: 0px; padding: 0px; font-size: 1px; }
.float-left { float: left; }
.float-right { float: right; }

a, a:link, a:active, a:focus {
	padding: 0px 3px;
	color: #222;
	text-decoration: none;
	outline: none;
	border-bottom: #bbb solid 1px;
}
a:hover {
	background-color: #5c875f;
	color: #fff;
	border-bottom: #5c875f solid 1px;
}
input[type="button"]::-moz-focus-inner, input[type="submit"]::-moz-focus-inner {
	border: none;
}
input.text {
	width: 250px;
	margin: 0px 0px 10px 0px;
	padding: 2px 6px;
	border: #ddd solid 2px;
	font-size: 1.5em;
}
input.text-wide { width: 350px; }
.select_input {
	width: 100px;
	padding: 0px 0px 0px 2px;
	border: #ddd solid 2px;
	font-size: 1.5em;
}
.select_input option {
	font-size: 1em;
}



/***** Main Element Styles *****/
#top {
	width: 100%;
}
	#top .pagewidth {
		padding: 1em 0px;
		border-bottom: #ddd solid 1px;
	}
	#logo_link, #logo_link:link, #logo_link:hover, #logo_link:active, #logo_link:focus {
		border: none !important;
	}
	#logo {
		width: 300px;
		height: auto;
		border: none;
	}
	#top .float-right {
		margin-top: 1em;
	}
	#top a {
		text-align: right;
		padding: 6px 16px;
		border-top: #ddd solid 1px;
		border-bottom: none;
	}
	#top a:hover {
		background-color: transparent;
		color: inherit;
		border-top: #5c875f solid 1px;
	}
	#top a.current, #top a.current:link {
		border-top: #5c875f solid 2px;
	}



#main {
	width: 100%;
	margin: 0px;
	padding: 0px;
}
	.pagewidth {
		width: 800px;
		margin: 0px auto;
		padding: 0px 0px 3em 0px;
		background-color: #fff;
	}


#left_col {
	width: 370px;
	padding: 0px 20px 0px 10px;
	border-right: #ccc solid 1px;
	float: left;
}
#right_col {
	width: 369px;
	padding: 0px 10px 0px 20px;
	margin-left: -1px;
	border-left: #ccc solid 1px;
	float: left;
}



#billboard {
	margin: 0px 0px 50px 0px;
	padding: 2em 0px;
	border: #ddd solid 10px;
	background-color: #fff;
}



#footer {
	width: 780px;
	margin: 3em auto 3em auto;
	padding: 10px;
	background-color: #fff;
	border: #ccc solid 1px;
	line-height: 1.5em;
	opacity: 0.75;
}
	#footer .float-right { color: #ccc; }
	#footer p {
		padding-bottom: 0px;
	}
/***** End Main Element Syles *****/





/***** Minor Element Styles *****/
.button {
	width: 170px;
	height: 36px;
	display: block;
	margin: 0px auto 10px auto;
	background-image: url("misc/button_hover.png");
	background-repeat: no-repeat;
	background-color: transparent;
	display: block;
	color: #fff;
	font-size: 115%;
	font-weight: bold;
	vertical-align: middle;	border-bottom: #bbb solid 1px;
	border: none;
}
.button:hover {
	background-image: url("misc/button.png");
}
.button:active {
	background-image: url("misc/button_hover.png");
}
a.button, a.button:link, a.button:focus, a.button:active, a.button:hover {
	width: 170px;
	height: 42px;
	display: block;
	margin: 0px auto 10px auto;
	padding: 8px 0px 0px 0px;
	background-image: url("misc/button.png");
	background-repeat: no-repeat;
	background-color: transparent;
	display: block;
	color: #fff;
	font-size: 110%;
	font-weight: bold;
	border-bottom: none;
}
a.button:hover {
	background-image: url("misc/button_hover.png");
}
/***** End Minor Element Styles *****/



/***** Signup Page Style *****/
.signup {
	margin-left: auto;
	margin-right: auto;
}
.signup td {
	margin: 0px;
	padding: 8px;
	vertical-align: top;
}
.field_label {
	padding: 12px !important;
	font-size: 1.4em;
	letter-spacing: 1px;
	color: #999;
	text-align: left;
}
.field { padding: 0px; }
.field .text {
	font-size: 1.4em;
	margin: 0px;
}
.field_feedback {  }

#group_link, #account_type, #group_folder { font-size: 10px; }
/***** End Signup Page Style *****/





/***** COLOR CLASSES *****/
.bggreen {
	background-color: #5c875f;
}
.bgwhite {
	background-color: #fff;
}
.bgbrown {
	background-color: #4f3d33;
}
.bggrey {
	background-color: #ccc;
}
.bgltgreen {
	background-color: #71eb83;
}
.green {
	color: #5c875f;
}
.white {
	color: #fff;
}
.brown {
	color: #4f3d33;
}
.grey {
	color: #ccc;
}
.ltgreen {
	color: #71eb83;
}
.red {
	color: #9c0500;
}
/***** END COLOR CLASSES *****/
